In [1]:
# Add out dependencies
import csv
import os
import pandas as pd

In [2]:
diamonds_df_original = pd.read_csv('data/diamonds_dataset.csv')
diamonds_df_original.head()

,id,url,shape,price,carat,cut,color,clarity,report,type,date_fetched
0,10086429,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Very Good,J,SI2,GIA,natural,2020-11-29 12-26 PM
1,10016334,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.31,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
2,9947216,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,VS2,GIA,natural,2020-11-29 12-26 PM
3,10083437,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Ideal,I,SI2,GIA,natural,2020-11-29 12-26 PM
4,9946136,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM

In [3]:
diamonds_df = diamonds_df_original
diamonds_df.drop(columns=["date_fetched", "url"], inplace=True)

In [4]:
diamonds_df.set_index('id', inplace = True)
diamonds_df.head()

            shape  price  carat        cut color clarity report     type
id
10086429    Round    400   0.30  Very Good     J     SI2    GIA  natural
10016334  Emerald    400   0.31      Ideal     I     SI1    GIA  natural
9947216   Emerald    400   0.30      Ideal     I     VS2    GIA  natural
10083437    Round    400   0.30      Ideal     I     SI2    GIA  natural
9946136   Emerald    400   0.30      Ideal     I     SI1    GIA  natural

In [5]:
diamonds_df.nunique()

shape        10
price      3144
carat       522
cut           5
color         7
clarity       8
report        4
type          2
dtype: int64

In [6]:
diamonds_df["type"].unique()

array(['natural', 'lab'], dtype=object)

In [7]:
cleanup_nums = {"shape":{"Asscher": 1, "Cushion": 2, "Emerald": 3, "Heart":4, "Marquise":5, "Oval":6, 
                         "Pear":7, "Princess":8, "Radiant":9, "Round":10},
                "cut": {"Fair": 1, "Good": 2, "Very Good": 3, "Ideal": 4,
                         "Super Ideal": 5},
               "color":{"J": 1, "I": 2, "H": 3, "G": 4, "F": 5, "E": 6, "D": 7},
               "clarity":{"SI2": 1, "SI1": 2, "VS2": 3, "VS1": 4, "VVS2": 5, "VVS1": 6, "IF": 7, "FL": 8},
               "report":{"GIA": 1, "HRD": 2, "IGI": 3, "GCAL": 4},
               "type":{"natural": 1, "lab": 2}}

In [8]:
diamonds_df = diamonds_df.replace(cleanup_nums)
diamonds_df.head()

          shape  price  carat  cut  color  clarity  report  type
id
10086429     10    400   0.30    3      1        1       1     1
10016334      3    400   0.31    4      2        2       1     1
9947216       3    400   0.30    4      2        3       1     1
10083437     10    400   0.30    4      2        1       1     1
9946136       3    400   0.30    4      2        2       1     1

In [9]:
diamonds_df.dtypes

shape        int64
price        int64
carat      float64
cut          int64
color        int64
clarity      int64
report       int64
type         int64
dtype: object

In [10]:
diamonds_df.to_csv("data/clean_data.csv")